{% for idea in ideas %}
    <div class="idea">
        {% set id = idea.id %}

        <img
        src="{{idea.image}}"
        alt="Imagem de {{idea.titel}}"
        >
        
        <div class="content">
            <header>
                <h3> {{idea.title}} </h3>
                {% if bodyId == "page-ideas" %}
                    <h3 id="{{id}}" class="delete"> X </h3>
                {% endif %}
            </header>
            
            <p> {{idea.category}} </p>

            <div class="description">
                {{idea.description}}
            </div>

            <a href="{{idea.link}}" target="__blanck"> Ir para a ideia </a>
        </div>
    </div>
    {% endfor %}

<!--
    {% include "modalDelete.html" %}
-->
<!--
<div id="modalDelete" class="hide">
    <div id="content">
        <h2>Tem certeza que deseja excluir essa ideia?</h2>
        <a id="url" href="">Confirmar</a>
        <button onclick="modalDelete(event)">Voltar</button>
    </div>
</div>-->