body {
    background: #e5e5e5; /* cor de fundo */
    color: #25282B; /* cor da fonte */ 
    font-family: "Montserrat", sans-serif;

    margin: 0; /* margem (por padrão 8px) */
}

body.hideScroll {
    overflow: hidden;
}

#container {
    width: 80%; /* largura (ocupa 80% da largura da caixa #container) */
    max-width: 980px; /* largura máximo (limite de tamanho) */ 

    margin: 40px auto;

    display: flex; /* tela (flex: divide, lado a lado, os filhos da tag mãe, nesse caso a div com id container) */
}


a {
    color: #FF5874;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px; /* tamanho da fonte */
    line-height: 24px; /* altura da linha */
    letter-spacing: 0.1px;
}

#intro {
    width: 300px;

    margin-right: 64px;
}

main {
    margin: 32px 0; /* margem (32px em cima e em baixo e 0 nas laterais) */
}

button {
    background: none;
    color: #FF5874;
    border: none; /* borda */

    font-size: 14px;
    font-weight: bold;  /* espessura da fonte */
    line-height: 18px;
    letter-spacing: 0.2px;

    cursor: pointer; /* muda a seta do mouse */
    outline: none; /* borda que aparece ao clickar */

    transition: 400ms; /* transição */
}

button:hover {
    text-decoration: underline; /* decoração do texto (underline = sublinhado) */
}

#buttons {
    display: flex;
    justify-content: space-around;

    margin-bottom: 32px;
}

.fat {
    color: #fff;
    background: #FF5874;

    width: 150px; /* largura */
    height: 40px; /* altura */

    border-radius: 6px; /* borda arredondada */
    box-shadow: 0 8px 16px rgba(255, 0, 92, 0.16); /* sombra da caixa
    (0 para o lado, 8px para baixo, 16px de blor(borrado) e a cor) */
}

.fat:hover {
    background: rgb(238, 52, 83);
    text-decoration: none;
}

footer {
    color: #777;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    
    text-align: center;
}

footer a {
    opacity: 0.7;
}

.idea {
    display: flex;
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    
    margin-bottom: 32px;
    padding: 32px;
}

.idea img {
    width: 60px;
    height: 60px;

    margin-right: 32px;
}

.idea h3 {
    margin: 0;
}

.deia p {
    margin: 8px 0;
    color: #777;
}

.idea .description {
    margin: 16px 0;
}

/* MODAL */
#modal {
    background: #FF5874;

    position: fixed;
    overflow: auto;
    bottom: 0; /* alinha ao topo da página */
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;

    transition: 400ms;
}

#modal .content {
    margin-top: 5%;

    color: #fff;
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    width: 80%;
    max-width: 800px;

    margin: 0 auto 15%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

form input,
form textarea {
    width: 100%;

    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    
    border: 1px solid rgba(190, 32, 58, 0.5);

    outline: none;

    font-size: 16px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}


label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {
    width: 150px;
    height: 40px;

    background-color: #ffffff22;
    color: white;

    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: end;

    transition: 400ms;
}

form a:hover {
    background-color: #fff;
    color: #FF5874;
    text-decoration: none;
}

form button {
    background: #fff;

    width: 150px;
    height: 40px;

    border-radius: 6px;

    margin-top: 20px;

    grid-column: 2;
    justify-self: end;

    transition: 400ms;
}

form button:hover {
    background-color: #0984E3;
    color: #fff;
    text-decoration: none;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}

/* IDEIAS.HTML */
#page-ideas #container {
    display: block;
}

#page-ideas header {
    display: flex;
    justify-content: space-between;
}

#page-ideas nav {
    display: flex;
    align-items: center;
}

#page-ideas nav li {
    list-style-type: none;
    
    margin-right: 16px;
}

#page-ideas nav li a {
    color: #25282B;
}

#page-ideas nav li:last-child {
    margin: 0;
}

#page-ideas nav li:last-child a {
    width: 150px;
    height: 40px;

    background-color: #FF5874;
    color: #fff;
    border-radius: 6px;

    font-size: 14px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-ideas nav li:last-child a:hover {
    background-color: #0984E3;
    text-decoration: none;
}

section#title {
    text-align: center;
}

section#title p {
    opacity: 0.7;
    margin: 0;
}

section#title h1 {
    margin: 0;

    font-size: 28px;
}

section#ideas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section#ideas .idea {
    margin: 0;
}

section#title,
section#ideas,
footer {
    margin-top: 64px;
}