.idea {
    display: flex;
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    
    margin-bottom: 32px;
    padding: 32px;
}

.idea img {
    width: 60px;
    height: 60px;

    margin-right: 32px;
}

.idea h3 {
    margin: 0;
}

.idea .delete {
    color: #777;

    transition: 400ms;
}

.idea .delete:hover {
    color: #FF5874;

    cursor: pointer;
    transition: 400ms;
}

.ideia p {
    margin: 8px 0;
    color: #777;
}

.idea .description {
    margin: 16px 0;
}